* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
    font-family: baskerville;
    font-size: 40px;
    margin-bottom: auto;
}

  h1:hover {
    color:pink;
  }

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.center {
  text-align: center;
  margin-right: 45px;
  text-decoration: none;
  color: pink;
}
  button {
  border-radius: 9px;
  font-family: rockwell;
  color: pink;
  font-size: 170%;
  padding: 15px 35px;
  border: solid pink 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  text-decoration: none;
  }

  a {
    text-decoration: none;
    color: pink;
    font-family: baskerville;
  }

  .icons {
  text-align: center;
  font-size: 200%;
  color: black;
  padding: 3em;
  box-sizing:border-box;
}
.icons a {
  color: pink;
}
a:hover {
  color: #48D1CC;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
